<ion-header>
  <app-small-navbar></app-small-navbar>
</ion-header>
<ion-content>
  <img
    class="w-full h-72 object-cover img-header"
    src="https://cdn.shopify.com/s/files/1/0033/1730/1303/collections/b9f03c5f-270a-406a-a448-984d14fbf422_600x600_crop_center.jpg?v=1600455334"
  >

  <div *ngIf="court" class="p-4">
    <!--1 BLOCK-->
    <div>
      <h1 class="font-extrabold text-xl">Aula {{ humanizedLessonType ?? '' }}</h1>
      <div class="flex justify-between">
        <h1 class="font-extrabold">{{ court?.name }}</h1>
        <div>
          <span class="text-right text-sm">R$ 300,00</span>
          <span class="text-sm">/hora</span>
        </div>
      </div>
      <!-- <div class="comments flex pt-2 items-center text-sm">
        <div class="flex pr-2">
          <img src="../../../assets/icon/estrela-pt.png" alt="">
        </div>
        <div>
          <span>4,89</span>
          <span>(51 comentários)</span>
        </div>
      </div> -->
      <div class="flex pt-2 items-center text-sm">
        <div class="flex pr-2">
          <img src="../../../assets/icon/localizacao-black.png" alt="">
        </div>
        <div>
          <span class="text-xs">R. Escobar Otiz, 718 -  V. Nova Conceição - São Paulo</span>
        </div>
      </div>
      <div class="py-2">
        <hr>
      </div>
    </div>
    <!--2 BLOCK-->
    <div>
      <div class="flex justify-between">
        <h1 class="font-extrabold">Horário de funcionamento</h1>
        <!--
          <div>
            <span class="text-right text-sm">R$ 300,00</span>
            <span class="text-sm">/hora</span>
          </div>
        -->
      </div>
      <div class="flex pt-2 items-center text-sm">
        <div class="flex pr-2">
          <img src="../../../assets/icon/relogio-black.png" alt="">
        </div>
        <div>
          <span>Segunda a sábado das <b>06:00hr</b> às <b>22:00hr</b></span>
        </div>
      </div>
      <div class="flex pt-2 items-center text-sm">
        <div class="flex pr-2">
          <img src="../../../assets/icon/relogio-black.png" alt="">
        </div>
        <div>
          <span>Domigos e feriados das <b>07:00hr</b> às <b>20:00hr</b></span>
        </div>
      </div>
      <div class="py-2">
        <hr>
      </div>
    </div>
    <!--3 BLOCK-->
    <div>
      <div class="flex justify-between">
        <h1 class="font-extrabold">O que o espaço oferece</h1>
        <!--
          <div>
            <span class="text-right text-sm">R$ 300,00</span>
            <span class="text-sm">/hora</span>
          </div>
        -->
      </div>
      <div class="flex pt-2 items-center text-sm">
        <div class="flex pr-2">
          <img src="../../../assets/icon/acessibilidade.png" alt="">
        </div>
        <div>
          <span>Acessibilidade para cadeirante</span>
        </div>
      </div>
      <div class="flex pt-2 items-center text-sm">
        <div class="flex pr-2">
          <img src="../../../assets/icon/pessoa-sentada.png" alt="">
        </div>
        <div>
          <span>Arquibancadas</span>
        </div>
      </div>
      <div class="flex pt-2 items-center text-sm">
        <div class="flex pr-2">
          <img src="../../../assets/icon/carro.png" alt="">
        </div>
        <div>
          <span>Carregador de carro elétrico</span>
        </div>
      </div>
      <div class="flex pt-2 items-center text-sm">
        <div class="flex pr-2">
          <img src="../../../assets/icon/celular.png" alt="">
        </div>
        <div>
          <span>Carregador de celular</span>
        </div>
      </div>
      <div class="flex pt-2 items-center text-sm">
        <div class="flex pr-2">
          <img src="../../../assets/icon/elevador.png" alt="">
        </div>
        <div>
          <span>Elevador</span>
        </div>
      </div>
      <div class="flex pt-2 items-center text-sm">
        <div class="flex pr-2">
          <img src="../../../assets/icon/cabide.png" alt="">
        </div>
        <div>
          <span>Vestiário feminino e masculino</span>
        </div>
      </div>
      <div class="flex pt-2 items-center text-sm">
        <div class="flex pr-2">
          <img src="../../../assets/icon/comida.png" alt="">
        </div>
        <div>
          <span>Restaurantes</span>
        </div>
      </div>
      <div class="flex pt-2 items-center text-sm">
        <div class="flex pr-2">
          <img src="../../../assets/icon/valet.png" alt="">
        </div>
        <div>
          <span>Valet</span>
        </div>
      </div>
      <div class="flex pt-2 items-center text-sm">
        <div class="flex pr-2">
          <img src="../../../assets/icon/wifi.png" alt="">
        </div>
        <div>
          <span>Wi-Fi</span>
        </div>
      </div>
      <div class="py-2">
        <hr>
      </div>
    </div>
    <!--4 BLOCK-->
    <div>
      <div class="flex justify-between">
        <h1 class="font-extrabold">Saúde e segurança</h1>
      </div>
      <div class="flex pt-2 items-center text-sm">
        <div>
          <span>O The Corner Sports comprometeu-se 100% com o processo de higienização dos ambientes e quadras.</span>
        </div>
      </div>
      <div class="py-2">
        <hr>
      </div>
    </div>
    <!--5 BLOCK-->
    <div>
      <div class="flex justify-between">
        <h1 class="font-extrabold">Regras do espaço</h1>
      </div>
      <div class="flex pt-2 items-center text-sm">
        <div>
          <span>Proibido fumar em quaisquer ambientes comuns.</span>
        </div>
      </div>
      <div class="py-2">
        <hr>
      </div>
    </div>
    <!--6 BLOCK-->
    <div>
      <div class="flex justify-between">
        <h1 class="font-extrabold">Política de cancelamento</h1>
      </div>
      <div class="flex pt-2 items-center text-sm">
        <div>
          <span>Será ressarcido o valor apenas quando o cancelamento
            for efetuado em até no máximo 24hr de antecedência</span>
        </div>
      </div>
      <div class="py-2">
        <hr>
      </div>
    </div>
    <!--7 BLOCK-->
    <!-- <div>
      <div class="flex">
        <div class=" pr-2">
          <img src="../../../assets/icon/estrela-pt.png" alt="">
        </div>
        <h1 class="font-extrabold">4,89 (51 comentários)</h1>
      </div>
      <div>
        <div class="mt-8 w-11/12 overflow-x-scroll">
          <div class="flex flex-row justify-start">
            <div
              ngFor="let c of comments"
              class=" p-4 mx-4 mb-8 flex flex-row flex-shrink-0 w-full h-32 bg-white rounded shadow-md">

              <div class="flex flex-col items-start w-32 h-full">
                <img class="rounded-full object-cover w-10 h-10" [src]="c.thumb">
              </div>

              <div class="flex flex-col ">
                <div class="flex flex-col ">
                  <div class="font-bold text-sm">
                    {{ c.name }}
                  </div>
                  <div class="text-xs">
                    {{ c.when }}
                  </div>
                </div>
                <br>
                <div class="text-sm">
                  {{ c.comment }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <!--8 BLOCK-->
    <div>
      <!--Button show all-->
      <!-- <div class="mt-5 px-6 w-full">
        <button
            class="p-3 bg-black text-white rounded w-full"
            (click)="attemptLogin()"
        >Mostrar todos comentários</button>
    </div> -->

    </div>
  </div>
  <div *ngIf="!court" class="p-4">Nenhuma quadra disponível</div>
  <div class="w-full h-10"></div>
</ion-content>
<ion-footer>
  <div class="p-4 px-5 bg-white">
    <a (click)="continueBooking()" class="btn w-full bg-black border border-gray-900 font-semibold block shadow py-2 text-center rounded-lg text-white">
      Continuar
    </a>
  </div>
</ion-footer>
