<ion-header>
  <app-small-navbar></app-small-navbar>
</ion-header>
<ion-content>
  <div class="h-full bg-gray-100 text-gray-700">
    <div class="flex flex-col justify-start px-6">

      <h1 class="mt-8 text-gray-800 font-bold text-xl">Detalhes da reserva</h1>
      <div class="mt-1">Dom, 25 abril 2021</div>

      <app-booking-card-alt
        [booking]="item"
      ></app-booking-card-alt>

      <div class="text-black mt-4 mb-1 flex place-content-between items-center text-lg">
        <div>Total</div>
        <div>{{ 300 | currency:'BRL':'symbol':undefined:'pt-BR' }}</div>
      </div>
      <div class="user-line mt-4 flex items-center gap-3 w-full">
        <div class="profile-pic">
          <img
            class="w-8 h-8 rounded-full"
            src="../assets/image/user.jpeg"
            alt=""
          />
        </div>
        <div class="text-xs flex-grow">
          <div>João (você)</div>
          <div class="text-gray-500">{{ 150 | currency:'BRL':'symbol':undefined:'pt-BR' }}</div>
        </div>
        <div class="metodo-pagamento">
          <img class="inline-block" src="../assets/icon/mastercard black.png" alt="" />
          <span class="inline-block ml-2">Débito</span>
        </div>
      </div>
      <div class="user-line mt-4 flex items-center gap-3 w-full">
        <div class="profile-pic">
          <img
            class="w-8 h-8 rounded-full"
            src="../assets/image/user.jpeg"
            alt=""
          />
        </div>
        <div class="text-xs flex-grow">
          <div>Pablo</div>
          <div class="text-gray-500">{{ 150 | currency:'BRL':'symbol':undefined:'pt-BR' }}</div>
        </div>
        <div class="metodo-pagamento">
          <img class="inline-block" src="../assets/icon/mastercard black.png" alt="" />
          <span class="inline-block ml-2">Débito</span>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <div class="p-4 px-5">
    <a (click)="goTo('home')" class="btn w-full bg-white border border-gray-900 text-gray-700 font-semibold block shadow py-2 text-center rounded-lg">
      Voltar para tela inicial
    </a>
    <a (click)="cancelBooking()" class="btn w-full bg-red-600 text-white font-semibold block mt-3 shadow py-2 text-center rounded-lg">
      Cancelar reserva
    </a>
  </div>
</ion-footer>
