<ion-header>
  <ion-toolbar>
    <ion-title>change-password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="flex flex-col h-full bg-gray-100 text-gray-700 px-6">
    <div class="input-block mt-3">
      <!-- <h3 class="">Senha</h3> -->
      <div class="w-full mt-1">
        <div class="relative">
          <div class="absolute inset-y-0 right-0 flex items-center px-5">
            <i class="fas fa-credit-card text-gray-400">a</i>
          </div>
          <input
            type="password"
            class="
              text-gray-700
              px-4
              py-2
              w-full
              h-12
              font-semibold
              bg-white
              border border-gray-400
              rounded-sm
              text-sm
              focus:outline-none
              "
              placeholder="Digite sua senha..."
          />
        </div>
      </div>
    </div>
    <div class="input-block mt-3">
      <!-- <h3 class="">Senha</h3> -->
      <div class="w-full mt-1">
        <div class="relative">
          <div class="absolute inset-y-0 right-0 flex items-center px-5">
            <i class="fas fa-credit-card text-gray-400">a</i>
          </div>
          <input
            type="password"
            class="
              text-gray-700
              px-4
              py-2
              w-full
              h-12
              font-semibold
              bg-white
              border border-gray-400
              rounded-sm
              text-sm
              focus:outline-none
              "
              placeholder="Digite sua nova senha..."
          />
        </div>
      </div>
    </div>
    <div class="input-block mt-3">
      <!-- <h3 class="">Senha</h3> -->
      <div class="w-full mt-1">
        <div class="relative">
          <div class="absolute inset-y-0 right-0 flex items-center px-5">
            <i class="fas fa-credit-card text-gray-400">a</i>
          </div>
          <input
            type="password"
            class="
              text-gray-700
              px-4
              py-2
              w-full
              h-12
              font-semibold
              bg-white
              border border-gray-400
              rounded-sm
              text-sm
              focus:outline-none
              "
              placeholder="Repita sua nova senha..."
          />
        </div>
      </div>
    </div>

  </div>
</ion-content>

<ion-footer>
  <div class="p-4 px-5">
    <a
      href="javascript:;"
      class="
        btn
        w-full
        bg-black
        text-white
        font-semibold
        block
        mt-3
        shadow
        py-2
        text-center
        rounded-lg
      "
      >Salvar</a
    >
  </div>
</ion-footer>
