<ion-header>
  <div class="bg-white w-full h-full">
    <app-navbar></app-navbar>
  </div>
</ion-header>
<ion-content>
  <div class="flex flex-col h-full bg-white text-gray-700 px-4">
    <app-search-players></app-search-players>

    <!-- quick access -->
    <div class="mt-4">
      <div class="relative">
        <span class="text-black font-bold">Acesso rápido</span>
      </div>
    </div>

    <!-- quick access cards -->
    <div class="-mx-4 overflow-y-hidden">
      <div class="px-4 flex gap-4 min-w-max h-48">
        <div
          class="relative my-4 w-24 h-24 bg-black rounded-xl text-center text-xs flex-shrink-0"
          *ngFor="let item of quickMenuItems" (click)="goTo(item.path, item.params)">
          <img
            class="w-24 h-full rounded-xl object-cover opacity-70"
            [src]="item.url"
          >
          <span class="absolute left-1/2 top-1/2 transform -translate-y-1/2 -translate-x-1/2 text-white font-bold">
            {{ item.title }}
          </span>
        </div>
      </div>
    </div>

    <!-- next bookings -->
    <div class="mt-4 mb-2">
      <div class="flex justify-between items-end">
        <span class="text-black font-bold">Próximas reservas</span>
        <div *ngIf="upcomingBookings.length > 0"
          class="px-3 py-0.5 text-center font-semibold border border-1 border-gray-700 rounded">
          <span (click)="goTo('upcoming-bookings')">
            Ver tudo
            <i class="fas fa-arrow-right"></i>
          </span>
        </div>
      </div>
    </div>

    <!-- next bookings cards -->
    <div class="pt-2 overflow-x-scroll overflow-y-hidden -mx-4 pb-6">
      <div class="px-4 h-48 flex flex-row justify-start gap-2 flex-nowrap min-w-max">
        <app-booking-card
          class="w-80"
          *ngFor="let item of upcomingBookings"
          [booking]="item">
        </app-booking-card>
        <div *ngIf="upcomingBookings.length == 0"
          class="w-full h-28 flex justify-center items-center border border-gray-400 rounded">
          <span class="text-center text-sm text-gray-400">Você ainda não tem nenhuma reserva :(</span>
        </div>
      </div>
    </div>
</div>
</ion-content>
<ion-footer>
  <app-footer></app-footer>
</ion-footer>
