<ion-content>
  <div class="min-h-screen w-full flex flex-col items-center justify-start bg-white">
    <!-- header -->
    <brand-header name="Login"></brand-header>
    <!-- form -->
    <form class="w-full flex-grow" [formGroup]="credentials" (ngSubmit)="attemptLogin()">
      <!-- email -->
      <div class="mt-2 px-6 w-full mb-4">
        <div class="relative">
          <span class="absolute inset-y-0 right-0 flex items-center pr-4">
            <i class="fas fa-at text-gray-400"></i>
          </span>
          <input
            type="email"
            class="px-4 py-2 w-full h-12 font-semibold bg-white border border-gray-400 focus:border-black rounded-sm text-sm placeholder-gray-400 focus:outline-none"
            placeholder="E-mail"
            formControlName="email"
          />
        </div>
      </div>
      <!-- password -->
      <div class="mt-2 px-6 w-full">
        <div class="relative">
          <span class="absolute inset-y-0 right-0 flex items-center pr-4">
            <i class="fas fa-lock text-gray-400"></i>
          </span>
          <input
            type="password"
            class="px-4 py-2 w-full h-12 font-semibold bg-white border border-gray-400 focus:border-black rounded-sm text-sm placeholder-gray-400 focus:outline-none"
            placeholder="Senha"
            formControlName="password"
          />
        </div>
      </div>
      <!-- forgot password -->
      <div class="mt-4 pr-6 w-full text-right">
        <a class="w-full text-red-500 underline" href="/forgot-password">
          Esqueceu a senha?
        </a>
      </div>
      <!-- submit -->
      <div class="mt-5 px-6 w-full">
        <button
          class="p-3 bg-black text-white rounded w-full"
          type="submit"
          [ngClass]="{ 'bg-gray-600': !credentials.valid }"
          [disabled]="!credentials.valid"
        >
          ENTRAR
        </button>
      </div>
    </form>
    <!-- footer -->
    <footer class="flex flex-col w-full">
      <div class="w-full mb-2">
        <p class="text-black text-center">Não possui uma conta?</p>
      </div>
      <div class="mb-4 px-6 w-full">
        <button
          type="button"
          class="p-3 flex justify-center w-full bg-white border border-black rounded text-black"
          (click)="showRegisterForm()"
        >
          CADASTRAR
        </button>
      </div>
    </footer>
  </div>
</ion-content>
